@font-face {
    font-family: 'Gabelisa';
    src: url('Gabelisa.woff2') format('woff2'),
        url('Gabelisa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

