@font-face {
    font-family: 'Fredericka the Great';
    src: url('FrederickatheGreat-Regular.woff2') format('woff2'),
        url('FrederickatheGreat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

